:root {
    --primary-color: #c21112;
    --hero-color: #00000080;
    --text-color: #1E1E1E;
    --background-color: #FAFAFA;
  }

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.navbar {
    transition: background-color 0.3s ease;
}
.navbar.scrolled {
    background-color: var(--primary-color) !important; /* Cambia a negro semi-transparente */
}

.carousel-inner {
    background-color: var(--secondary-color);
}

.hero {
    height: 100vh;
    background: url("../src/duff.jpg") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--background-color);
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--hero-color); /* Oscurece un poco la imagen */
}
.hero h1 {
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

/* Sección de contenido */
.content {
    padding: 100px 20px;
    background: var(--background-color);
}

.footer-red {
    background: var(--primary-color);
}